body {
  font-family: "Montserrat";
}
@font-face {
  font-family: Montserrat;
  src: url(../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

.header--bg-image {
  background-image: url(../assets/images/navbg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.component--bg-ebony-clay {
  background-color: #252b42;
}

.navbar__logo {
  font-weight: 700;
  font-size: 24px;
}

.navbar__hamburger--border-none {
  border: none;
}

.header__info {
  text-align: center;
  background: rgba(0, 0, 0, 0.75);
}

.header__info h2 {
  font-size: 40px;
  font-weight: 700;
}

.header__info p {
  font-size: 20px;
  font-weight: 500;
}

.text--c-white {
  color: white;
}

.text--c-picton-blue {
  color: #23a6f0;
}

.component--bg-picton-blue {
  background-color: #23a6f0;
}

.component--bg-white {
  background-color: white;
}

.component--bg-jordy-blue{
  background-color: #8EC2F2;
}

.header__info-btn-primary {
  padding: 10px 36px;
  border-radius: 37px;
  font-weight: 700;
}

.header__info-btn-secondary {
  padding: 10px 36px;
  border-radius: 37px;
  background-color: transparent;
  border: 1px solid #23a6f0;
  font-weight: 700;
}

.text-font-size-16 {
  font-size: 16px;
}

.text-font-size-14 {
  font-size: 14px;
}

.text-font-size-40{
font-size: 40px;
}
.text-font-weight-500 {
  font-weight: 500;
}

.text-font-weight-700 {
  font-weight: 700;
}


.component--text-align-center {
  text-align: center;
}